body {
    background-image: url("../image/akatsukinozin_vol1_header.jpg");
    background-repeat: repeat;
    background-position: 50%;
}

img.main {
    max-width: 100%;
}

img.album_jacket {
    width: 250px;
    height: auto;
}

p {
    font-size: 20px;
}

p.album_title {
    font-size: 20px;
    float: left;
    margin: 100px 10px 0px;
}

p.footer {
    color: white;
    font-size: 15px;
    margin: 10px 0;
}

header {
    background-color: rgb(235, 38, 87);
}

h1 {
    font-size: 80px;
}

h1.title {
    margin-top: 50px;
    margin-left: 80px; 
    margin-right: 50px;
    margin-bottom: 50px;
    padding-right: 40px;
    text-align: left;
    font-size: 100px;
    float: left;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin: 10px 0px 40px;
}

div.maincontent {
    margin: auto;
    background-color: rgba(118, 114, 134, 0.479);
}

div.event_informetion {
    overflow: hidden;
    width: 1024px;
    margin: auto;
}

div.album_wrap {
    overflow: hidden;
    padding: 40px 0;
}

div.album_information {
    width: 510px;
    float: left;
}

div.crossfade {
    width: 960px;
    margin: auto;
    padding: 20px 0;
}

div.track_wrap {
    overflow: hidden;
    margin: auto;
    width: 960px;
    padding: 50px 21px;
    padding-left: 41px;
}

div.staff_wrap {
    margin: auto;
    background-color: rgba(253, 253, 253, 0.9); 
    border: solid rgb(221, 221, 221);
    border-width: 1px;
    width: 980px;
    padding: 40px;
    padding-bottom: 50px;
}

div.icon_wrap {
    width: 160px;
    margin: auto;
}

section {
    margin: 0 0 60px;
}

section.event_informetion {
    overflow: hidden;
    margin: 0 0 60px;
    background-color: rgba(58, 50, 61, 0.527);
    padding: 100px 0;
}

section.album {
    width: 1024px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(253, 253, 253, 0.9); 
    border: solid rgb(221, 221, 221);
    border-width: 1px;
}

section.credit {
    margin: 60px 0 0;
    padding-bottom: 60px;
}

table.track {
    width: 470px;
    float: left;
}

th, td {
    text-align: left;
    font-size: 20px;
    padding: 5px 10px;
}

tr:hover {
    transition-duration:0.5s;
    background-color: rgb(235, 38, 87);
    color: white;
}

table.holding_information{
    margin-top: 50px;
}

table.staff {
    margin: auto;
}
th.CDtitle {
    padding: 10px 10px 20px;
    font-size: 30px; 
}

footer {
    text-align: center;
    overflow: hidden;
    background-color: rgb(235, 38, 87);
    padding: 30px 0px 60px;
}

a.icon {
    float: left;
    padding: 16px;
}
