img.main {
    max-width: 100%;
}

img.album_jacket {
    width: 250px;
    height: auto;
}

p {
    font-size: 20px;
}

p.album_title {
    font-size: 20px;
    float: left;
    margin: 100px 10px 0px;
}

header {
    background-color: red;
}

h1 {
    margin: 10px 0px;
    text-align: center;
    font-size: 40px;
}

h1.title {
    margin: 0px;
    text-align: left;
    font-size: 100px;
}

div.album_information {
    max-width: 640px;
    float: left;
    padding: 0px 20px;
}

div.maincontent {
    max-width: 1280px;
    margin: auto;
}

section.album {
    width: 960px;
    overflow: hidden;
    margin: auto;
}