.slide{     
    background-color: #FF9000;
    padding: 30px 30px 0px 30px
}

.container {
    margin: 0 auto;
    padding: 20px;
    color: #333;
    background: #FF9000;
  }
  
  .slick-slide {
    text-align: center;
    color: #FF9000;
    background: #FF9000;
  }



.slick-slide img{
    margin: auto;
    max-width: 100%;
    height: auto;
}

.slick-dots li.slick-active button:before {
    color: #ff6347;
}

.slick-prev:before, .slick-next:before {
    color: #666;
}
.slick-dots li button:before{
    font-size: 20px;
}

/* .slick-arrow::before{
    font-size: 30px;
} */