
body {
    /*background-color: rgb(30, 28, 39);*/
    background: linear-gradient(to top, rgb(36, 28, 39, 0.2) 0%, rgb(38, 45, 59) 100%);
}

p {
    font-size: 16px;
    font-family: sans-serif;
    color: aliceblue;
}

h2 {
    font-size: 32px;
    font-family: sans-serif;
}

.section {
    margin: 60px 0;
}

table {
    font-size: 16px;
}

td {
    padding-right: 20px;
}

div.event_title {
    padding: 400px 0;
    text-align: center;

}

img {
    max-width: 100%;
}