
footer {
    text-align: center;
    overflow: hidden;
    /*background-image: url(../img/background.jpg);*/
    background: linear-gradient(to top, rgba(104, 31, 104, 0.7) 0%, rgba(128, 212, 221, 0.7) 40%),url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px;
}

div.icon_wrap {
    width: 160px;
    margin: auto;
}

p.footer {
    color: white;
    font-size: 18px;
    margin: 10px 0;
}

a.icon {
    float: left;
    padding: 16px;
}

img.icon_link:hover {
    transition-duration:0.3s;
    opacity: 0.8;
}
